.pesquisa-produtos {
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    position: relative;
    left: 35px;
}
.pesquisa-produto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 30px;
    gap: 10px;
  }
  
  .pesquisa-produto-container label {
    font-weight: bold;
  }
  
  .pesquisa-produto-container input {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px;
      width: 80px;
    }
  
   .pesquisa-produto-container span {
    margin: 0px 10px;
   }

  .pesquisa-produto-container button {
    display: flex;
    background-color: #183664;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .pesquisa-produto-container button:hover {
    background-color: #0069d9;
  }
  

.subtituloCarrinho {
    letter-spacing: 5px;
    position: fixed;
    right: 800px;
    bottom: 570px
  }

.carrinho-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 400px;
  width: 300px;
  top: 250px
  }

.produtosCarrinho {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  position: fixed;
  right: 580px;
  
}